<mat-label>This should have value from parent: {{ testInput }}</mat-label>

<form (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Enter new Name"
      name="name"
      [(ngModel)]="item.name"
      required
    />
    <mat-error> Please enter the name!!!! </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Description"
      name="description"
      [(ngModel)]="item.description"
    ></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
