.logo {
  border: 1px solid black;
  height: 75px;
  width: 100px;
}

header {
  border-bottom: 1px green solid;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 1px 10px 5px #aaaaaa;
}

.header-nav {
  list-style-type: none;
}

.header-nav li {
  display: inline;
}

nav {
  display: inline-block;
}

.main-section {
  margin-top: 20px;
}

.twitter-logo {
  height: 20px;
  width: 20px;
}
